#%RAML 0.8
---
title: Garage Client API
baseUri: http://boesenet.no-ip.biz
version: v1

schemas:
  - clientdevice: |
      {  "$schema": "http://json-schema.org/draft-03/schema",
         "type": "object",
         "description": "A single client device.",
         "properties": {
           "macaddress":  { "type": "string", "required": true },
           "devicename":  { "type": "string", "required": true }
         }
      }
  - clientdevices: |
      {  "$schema": "http://json-schema.org/draft-03/schema",
         "type": "object",
         "description": "A collection of client devices.",
         "properties": {
           "size":  { "type": "integer", "required": true },
           "clientdevices":  {
              "type": "array",
              "items": { "$ref": "clientdevice" }
           }
         }
      }

resourceTypes:
  - collection:
      description: Collection of available <<resourcePathName>> in system.
      get:
        description: Get a list of <<resourcePathName>>.
        responses:
          200:
            body:
              application/json:
      post:
        description: |
          Add a new <<resourcePathName|!singularize>> to System.
        body:
          application/json:
            schema: !include client-device.schema
            example: !include example-device.sample
        responses:
          200:
            body:
              application/json:
                example: |
                  { "message": "The <<resourcePathName|!singularize>> has been properly entered" }
  - collection-item:
      description: Entity representing a <<resourcePathName|!singularize>>
      get:
        description: |
          Get the <<resourcePathName|!singularize>>
          with <<resourcePathName|!singularize>>Id =
          {<<resourcePathName|!singularize>>Id}
        responses:
          200:
            body:
              application/json:
                example: !include example-device.sample
          404:
            body:
              application/json:
                example: |
                  {"message": "<<resourcePathName|!singularize>> not found" }
  - typedCollection:
      type: collection
      get:
        responses:
          200:
            body:
              application/json:
                schema: <<collectionSchema>>
      post:
        body:
          application/json:
            schema: <<schema>>
        responses:
          201:
            body:
              application/json:
                schema: <<schema>>
traits:
  - paged:
      displayName: paged
      queryParameters:
        start:
          displayName: start
          description: The first page to return
          type: integer
        pages:
          displayName: pages
          description: The number of pages to return
          type: integer
  - secured:
      displayName: secured
      headers:
        Authorization:
          description: The auth token for this request
      responses:
        401:
          description: Unauthorized


/garageClients: &clientdevices
  type: { typedCollection: { schema: clientdevice, collectionSchema: clientdevices } }

  get:
    responses:
      200:
        body:
          application/json:
            example: !include example-device-list.sample